fastapi[all]
uvicorn[standard]
gunicorn
sqlmodel
python-dotenv
pandas
openpyxl
requests
httpx
psycopg2-binary
sqlalchemy_utils
python-multipart
asyncio
asyncpg
jwt
python-jose
passlib[bcrypt]
alembic
emails
redis
celery
flower


#dev dependencies
pytest
pylint
black
mypy
isort
pre-commit
commitizen